{{!--
Це код container файлу для person сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/person"
--}}

<div class="p-4">
    <div>
        <h1>{{name}}</h1>
    </div>
    <div>
        {{> title data="Biography" big=true}}
    </div>
    <hr>
    <section>
        <div class="py-2">
            <b>Birthdate:</b> {{birthdate}}
        </div>

        <div class="py-2">
            <b>Birthplace:</b> {{birthplace}}
        </div>

        <div class="py-2">
            <b>Deathdate:</b> {{deathdate}}
        </div>

        <div class="py-2">
            <b>Deathplace:</b> {{deathplace}}
        </div>

        <div class="py-2">
            <b>Nationality:</b> {{nationality}}
        </div>

        <div class="py-4">
            <b>Occupation:</b> {{occupation}}
        </div>
        <div class="mb-3">
            {{> title data="Knowledge"}}
            <ul class="list-group">
                {{#each known_for}}
                <li class="list-group-item">{{this}} </li>
                {{/each}}
            </ul>
        </div>
        <hr>
        <div class="mb-3">
            {{> title data="Education"}}
            <ul class="list-group list-group-flush">
                {{#each education}}
                <li class="list-group-item">
                    <div>
                        <b>Degree:</b> {{degree}}
                    </div>
                    <div>
                        <b>Field:</b> {{field}}
                    </div>
                    <div>
                        <b>Institution:</b> {{institution}} (<i>{{year}}</i>)
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        <hr>
        <div class="mb-3">
            {{> title data="Notable publications:"}}
            <ul class="list-group list-group-numbered">
                {{#each notable_publications}}
                <li class="list-group-item">
                    <div>
                        <strong>"{{title}}"</strong> - published <i>{{publisher}}</i> in {{year}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        <hr>
        <div class="p-3">
            {{> title data="Partners"}}
            <ul>
                {{#each partners}}
                <li>
                    <div>
                        <strong>{{name}}</strong> - {{relationship}} ({{years}})
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>

        <hr>
        <div class="p-3">
            {{> title data="Awards:"}}
            <ul class="list-group list-group-numbered">
                {{#each awards}}
                <li class="list-group-item">
                    <div>
                        <strong>{{title}}</strong> - in {{year}} (<em>{{description}}</em>)
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        <hr>

        <div class="p-3">
            {{> title data="Influence of works"}}
            <ol class="list-group">
                {{#each influences}}
                <li class="list-group-item">
                    <div>
                        {{this}}
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        <div class="p-3">
            {{> title data="Influenced by Einstein's work"}}
            <ol class="list-group">
                {{#each influenced}}
                <li class="list-group-item">
                    <div>
                        {{this}}
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        <hr>
        <div class="p-3">
            {{> title data="Einstein quotes"}}
            <ul class="list-group">
                {{#each quotes}}
                <li class="list-group-item">
                    <p>
                        <q>{{this}}</q>
                    </p>
                </li>
                {{/each}}
            </ul>
        </div>

        <hr>
        <div class="p-3">
            {{> title data="Major discoveries"}}
            <ul class="list-group">
                {{#each major_discoveries}}
                <li class="list-group-item">
                    <div>
                        <strong>{{title}}</strong> - in {{year}} (<em>{{description}}</em>)
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>

        <hr>
        <div class="p-3">
            {{#with contributions}}
            <h3>{{title}} </h3>
            <div>
                <strong>{{field}}:</strong> - {{year}}
                <blockquote>({{description}})</blockquote>
            </div>
            {{/with}}
        </div>

    </section>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}