{{!--
Це код container файлу для person сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/person"
--}}

<div class="p-5">
    <h1>{{name}} </h1>
    <hr>
    {{> title data="Description"}}
    <div class="mb-3">{{description}} </div>

    {{> title data="History"}}
    <div class="mb-5">{{history.founder}} wrote this language in {{history.year}} </div>


    {{> title data="Types of Js"}}
    <nav class="py-2" aria-label="breadcrumb">
        {{#each types}}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">{{this}}</a></li>
        </ol>
        {{/each}}
    </nav>

    {{> title data="Syntax"}}
    <div class="p-5">
        {{#with syntax}}
        <div aria-label="Page navigation example">
            {{#each variables}}
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">{{this}}</a> </li>
            </ul>
            {{/each}}
        </div>

        <div aria-label="Page navigation example">
            {{#each functions}}
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">{{this}}</a> </li>
            </ul>
            {{/each}}
        </div>

        <div aria-label="Page navigation example">
            {{#each conditionals}}
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">{{this}}</a> </li>
            </ul>
            {{/each}}
        </div>

        <div class="mb-3" aria-label="Page navigation example">
            {{#each loops}}
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">{{this}}</a> </li>
            </ul>
            {{/each}}
        </div>

        <div aria-label="Page navigation example">
            {{#each classes}}
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">{{this}}</a> </li>
            </ul>
            {{/each}}
        </div>
        {{/with}}
    </div>

    {{> title data="Features of Js"}}
    <div class="p-5" aria-label="breadcrumb">
        {{#each features}}
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">{{this}}</a></li>
        </ul>
        {{/each}}
    </div>

    {{> title data="libraries of Js"}}
    <div class="p-5">
        {{#each libraries}}
        <ul>
            <li class="badge rounded-pill text-bg-info"><a href="#">{{this}}</a></li>
        </ul>
        {{/each}}
    </div>

    {{> title data="Tools of Js"}}
    <div class="p-5">
        {{#each tools}}
        <ul>
            <li class="badge rounded-pill text-bg-info"><a href="#">{{this}}</a></li>
        </ul>
        {{/each}}
    </div>

    {{> title data="Community of Js"}}
    <div class="p-5">
        {{#each community}}
        <ul>
            <li class="badge rounded-pill text-bg-info">
                <a href="#">{{this.name}}</a>
                <span>({{this.type}})</span>
            </li>
        </ul>
        {{/each}}
    </div>


</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}