{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <h1>My mac</h1>
    <hr>

    <h2>Name {{name}} </h2>
    <div>Model - {{description}} ({{category}})</div>
    <div>price - {{price}} $ </div>
    <br>
    <div>
        {{> title data="Features of MacBook Pro"}}
        {{#with features}}
        <div>
            {{#with processor}}
            <div><strong>Processor: </strong> {{brand}} {{model}}, {{cores}} cores {{speed}}, cache {{cache}} </div>
            {{/with}}
        </div>
        <br>
        <div>
            {{#with memory}}
            <div><strong>Memory: </strong> {{type}} {{size}}, {{speed}} </div>
            {{/with}}
        </div>
        <br>
        <div>
            {{#with storage}}
            <div><strong>Storage: </strong> {{type}} {{size}}</div>
            {{/with}}
        </div>
        <br>
        <div>
            {{#with display}}
            <div><strong>Display: </strong> {{size}}, resolution - {{resolution}}, technology - {{technology}}, color
                space - {{color_space}}, brightness - {{brightness}}, refresh rate - {{refresh_rate}}. </div>
            {{/with}}
        </div>
        <br>
        <div>
            {{#with graphics}}
            <div><strong>Graphics: </strong> {{brand}} {{model}} {{memory}} </div>
            {{/with}}
        </div>
        <br>
        <div> <strong>Ports: </strong>
            <ul>
                {{#each ports}}
                <li>
                    <div> {{this.type}} ({{this.count}} pcs) </div>
                    <div>
                        <ul>
                            {{#each this.features}}
                            <li>{{this}} </li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
                {{/each}}
            </ul>

        </div>
        <br>
        <div>
            {{#with battery}}
            <div><strong>Battery: </strong> {{type}} {{capacity}}. {{life}} </div>
            {{/with}}
        </div>
        <br>
        <div>
            <div><strong>Weight: </strong> {{weight}}</div>
            {{#with dimensions}}
            <div><strong>Dimensions: </strong> {{width}} x {{depth}} x {{height}} </div>
            {{/with}}
        </div>
        <br>
        <div><strong>Operating system: </strong> {{operating_system}}</div>
        <br>
        <div> <strong>Accessories: </strong>
            <ul>
                {{#each accessories}}
                <li>
                    <div> {{this.name}} ({{this.price}} $) </div>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/with}}
    </div>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}