{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="p-4">
    {{#with main}}
    <main>
        <section>
            {{> title data='Work history' big=true}}
            <div>
                <ul>
                    {{#each works}}
                    <li class="p-3">
                        <div class="mb-3">{{position}}</div>


                        <div class="mb-3">{{duration.from}} -
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (досі працюємо)
                            {{/if}}
                        </div>


                        <div class="mb-3">
                            {{#if company.url}}
                            {{> link href=company.url text=company.name blank=true noLine=true}}

                            {{else}}
                            <b>{{company.name}}</b>
                            {{/if}}
                        </div>

                        <div class="mb-3"><strong>Projects ({{projectAmount}})</strong></div>

                        <ul>
                            {{#each projects}}
                            <li class="mb-3">
                                <div class="mb-3">{{> link href=url text=name blank=true noLine=true}}</div>

                                <div class="mb-3">
                                    <p>{{about}}</p>
                                </div>


                                <div class="mb-3">
                                    <em>Project stacks ({{stackAmount}})</em>
                                </div>

                                <div class="mb-3">
                                    <ul>
                                        {{#each stacks}}
                                        <li>{{name}}</li>
                                        {{/each}}
                                    </ul>
                                </div>

                                <div class="mb-3">
                                    <em>Project awards</em>
                                </div>

                                <div class="mb-3">
                                    <ul>
                                        {{#each awards}}
                                        <li class="mb-2">{{name}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </li>
                            {{/each}}
                        </ul>

                    </li>
                    <br>
                    {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}